<span class="section-header">Announcement Preview</span>
    <hr>

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="well">
          <h3>Class Announcements</h3>
          <% if @announcement != nil %>
              <%= @announcement.updated_at.strftime("%b ") + ActiveSupport::Inflector.ordinalize(@announcement.updated_at.strftime("%d").to_i) + @announcement.updated_at.strftime(", %Y %I:%M %p") unless @announcement.updated_at.blank? %>
          <% end %>
          <div class="text-left">
            <% if @announcement == nil %>
                N/A
            <% else %>
                <%= @announcement.content %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<br>

<%= link_to 'Edit', edit_announcement_path(@announcement), class: 'btn btn-lg btn-primary'%> <%= link_to 'Back', announcements_path, class: 'btn btn-lg btn-warning'%>
