<h2>PROFILE</h2>


<p><b>Name: </b><%= @user.full_name %></p>
<p><b>Username: </b><%= @user.username %></p>
<p><b>Role: </b><%= @user.role %></p>
<p><b>Email:</b> <%= @user.email %></p>


<div class="row">
  <div class="col-md-6">
    <h4>Active Verbs</h4>
    <div class="well well-sm text-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Participles</h4>
    <div class="well well-sm text-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Absolutes</h4>
    <div class="well well-sm text-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Appositives</h4>
    <div class="well well-sm text-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Adjectives Out of Order</h4>
    <div class="well well-sm text-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
</div>



