<span class="section-header">Admin</span>
<h4>Welcome, instructor. Here you can perform various administrative tasks.</h4>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="well well-sm text-center">
      <h4>Download Responses</h4>

      <p>Generate a PDF file containing the responses from students in your class</p>
      <%= link_to 'Download PDF', generate_report_path, class: 'btn btn-info btn-lg' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well well-sm text-center">
      <h4>View Current Roster</h4>

      <p>Look at your roster for the current class.</p>
      <%= link_to 'Roster', users_path, class: 'btn btn-info btn-lg' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well well-sm text-center">
      <h4>Delete Responses</h4>

      <p>Permanently delete all responses from students in your class</p>
      <button type="button" class="btn btn-danger btn-lg">Delete All</button>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well well-sm text-center">
      <h4>Class Announcements</h4>

      <p>Access and modify announcements displayed to your class</p>
      <%= link_to 'Edit', announcements_path, class: 'btn btn-info btn-lg' %>
    </div>
  </div>
</div>