<span class="section-header">Home</span>

<hr>

<h3>Your Responses</h3>
<p> User responses here.</p>
<p> Incomplete </p>
<p> Completed </p>


<h3>Classmate Responses</h3>
<p> Classmate responses here.</p>
<p> Caption to picture </p>
<p> Classmate responses w/ downvote/upvote </p>