<span class="section-header">Home</span>

<hr>

<% if @current_user.role == 'teacher' %>
  <h4>Students</h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Responses</th>
        <th>Reviews</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Neal</td>
        <td>0</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Bafd</td>
        <td>0</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

  <span class="section-header">Admin</span>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="well well-sm text-center">
        <h4>Download Responses</h4>
        <p>Generate a PDF file containing the responses from students in your class</p>
        <button type="button" class="btn btn-info btn-lg">Download PDF</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well well-sm text-center">
        <h4>Delete Responses</h4>
        <p>Permanently delete all responses from students in your class</p>
        <button type="button" class="btn btn-danger btn-lg">Delete All</button>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to 'Peer Review', review_response_path, class: 'btn btn-default' %>
<% end %>
  