// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.example {
	display: none;
}

.img-responsive {
	max-width: 500px;
}

.example-nav-button {
  margin-right: 10px;
}

.try-button {
  margin-left:24px;
}