<span class="section-header"><%= @category.title %></span>

<hr>

<p><%= @category.description %></p>
<div>
<%= link_to 'Try it!', new_response_path(category_id: @category.id), class: 'btn btn-lg btn-success' %>
</div>
