<% provide(:title, 'Absolutes') %>
<div class="center hero-unit">
<center>
	<h1>Absolutes</h1>
<%= link_to image_tag("grammar.jpg", alt: "Grammartime"), 'http://google.com/' %><BR><BR>
<p><font color="red">Sample sentence is what? What what. You know what. That. Asbolutely.</p>
<p><font color="green">This example is so much better than that other example. Duh.</p>
<BR>
<div style="float:right;"><a href="#" class="btn btn-primary btn-lg active" style="width: 150px;" role="button">Next</a></div>
<BR>
</center>
</div>

