<% provide(:title, 'Active') %>
<h1>Active Verbs</h1>
<h3>What are active verbs?</h3>
<p>
When composing, we often make lazy choices, especially when choosing verbs. We feel enticed by generic all-purpose verbs such as "deal with" or "show," which on the surface can sound snappy and technical. However, the more these verbs are used in a particular paper, the more meaningless they can become. Even in journal articles, these verbs put in a shocking number of appearances and return for many unsolicited encores. Yet these words convey no analytical meaning at all and are barely informational. Much to the reader’s frustration, "deal with" and "show" are merely thinly disguised excuses for much more active analytical verbs such as theorize, suggest, imply, propose. For the reader, "Cheswick dealt with" or "Figure 4 shows" are far less meaningful than "Cheswick hypothesized" or "Figure 4 represents." As always, you should choose exact words in favor of nonspecific ones, especially when you can use an active verb.<BR>

from http://www.ems.psu.edu/~schall/Verbs.html

</p>
<li class="activesubmit">
  <%= link_to "Active Submit", activesubmit_path %>
</li>

<BR>
<div style="float:right;"><a href="#" class="btn btn-primary btn-lg active" style="width: 150px;" role="button">Next</a></div>
<BR>