<% provide(:title, 'Adjectives Out of Order') %>
<h1>Adjectives Out of Order</h1><BR>
<p>
<center><img src="http://i.imgur.com/ha6kWJZ.png" width="400px"><BR><BR>
<p>
The flower is pretty.<BR>
The flower was in bloom.<BR>
The pretty flower was in bloom.<BR>
</p>