<% provide(:title, 'Participles') %>
<h1>Participles</h1>
<p>
  Page eventually for Participles.
  <p>
  <p> I DONT KNOW WHERE TO PUT THIS!!! </p>
  <!-- Default panel contents -->
  <div class="panel-heading">Teacher View</div>
  <table class="table">
    <thead>
    	<tr>
    		<th>#</th>
    		<th>First Name</th>
    		<th>Last Name</th>
    		<th>Student ID</th>
    		<th>Status</th>
            <th>Download</th>
    	</tr>
    <thead>
    <tbody>
    	<tr>
    		<td>1</td>
    		<td>Jim</td>
    		<td>Jones</td>
    		<td>911</td>
    		<td>Completed</td>
            <td class= "checkbox">
            <label>
            <input type="checkbox">
            "hi"
            </label>
            </td> 
    	</tr>
    	<tr>
    		<td>2</td>
    		<td>Rebecca</td>
    		<td>Black</td>
    		<td>911</td>
    		<td>Pending</td>
             <td class= "checkbox">
             <label>
            <input type="checkbox">
            "hi"
              </label>
            </td> 
    	</tr>	
    	<tr>
    		<td>3</td>
    		<td>First Name</td>
    		<td>Last Name</td>
    		<td>000000000</td>
    		<td>Completed</td>
             <td class= "checkbox">
             <label>
            <input type="checkbox">
            "weird white space thingy"
              </label>
            </td> 
    	</tr>	
    </tbody>			
  </div>

  <div style="float:right;"><a href="#" class="btn btn-primary btn-lg active" style="width: 150px;" role="button">Download</a></div>
  
  
</p>
</p>